body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: #333;
  }
  
  #addContest input, #addContest button {
    margin: 5px;
  }
  
  #contestItems li {
    margin-bottom: 10px;
  }
  